<div class="page-header">
  <h1>UserWish#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo(userWishesPath(), {class: "btn btn-info"}) { %>
      Back to all UserWishes
    <% } %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(editUserWishPath({ user_wish_id: userWish.ID }), {class: "btn btn-warning", body: "Edit"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(userWishPath({ user_wish_id: userWish.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </li>
</ul>

<p>
  <strong>Name</strong>: <%= userWish.Name %>
</p>
<p>
  <strong>Description</strong>: <%= userWish.Description %>
</p>
<p>
  <strong>UserID</strong>: <%= userWish.UserID %>
</p>
