{{ define "content" }}
<div class="container">
	<h1 class="mt-5">Meine Gruppe</h1>
	<p class="lead">
		Bisher hast du keine Gruppe ausgewählt. Du kannst entweder eine bestehende Gruppe ansehen, oder eine neue erstellen.
	</p>
	<p>
		Zum Erstellen einer Gruppe ist keine Anmeldung notwendig. Du erhältst einen Identifier, mit welchem du die
		Gruppe laden kannst.

		Zusätzlich zu dem Link erhältst du den Identifier der Gruppe. Mit diesem kannst du sie hier laden.
	</p>

	<hr class="dashed-separator">

	<div class="row">
		<div class="col">
			<h4>Neue Gruppe anlegen</h4>

			<div class="card mt-3">
				<div class="card-body clearfix">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="groupName" aria-describedby="groupHelp" placeholder="Gib einen Namen ein">
						</div>
						<div class="form-group">
							<textarea class="w-100 p-3" name="groupDescription" id="groupDescription" rows="10" placeholder="Raum für Notizen..."></textarea>
						</div>
						<button type="submit" class="btn btn-primary float-right">Erstellen</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col">
			<h4>Gruppe laden</h4>
			<div class="card mt-3">
				<div class="card-body">
					<form class="clearfix">
						<div class="form-group">
							<input type="text" class="form-control" id="groupName" aria-describedby="groupHelp" placeholder="Gruppen Identifier">
						</div>
						<button type="submit" class="btn btn-primary float-right">Laden</button>
					</form>
				</div>
			</div>
			<div class="alert alert-secondary mt-3">
				Alternativ kannst du selbstverständlich auch den, dir zur Verfügung gestellten, Link nutzen.
			</div>
		</div>
	</div>
</div>
{{ end }}
