{{ define "content" }}
<div class="container">
	<h1 class="mt-5">Neue Gruppe</h1>
	<p class="lead">
		Eine neue Gruppe anzulegen ist ganz einfach, du musst nur einen Namen eingeben.
	</p>

	<hr class="dashed-separator">

	<div class="row">
		<div class="col-sm-6">
			<h5>Und dann?</h5>
			<p>
				Im Anschluss hast du die Möglichkeit Mitglieder per Email dazu einzuladen, ihre Wünsche zu senden. <br>
				Sobald alle Mitglieder ihre Wünsche eingesendet haben, kann das Spiel starten.
			</p>
			<p>
				Die Plattform erzeugt automatisch eine Zuordnung und sendet jedem Teilnehmer eine Email mit den für
				ihn relevanten Wünschen.
			</p>
		</div>
		<div class="col-sm-6">
			<h5>Los geht's!</h5>
			<div class="card">
				<div class="card-body clearfix">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="groupName" aria-describedby="groupHelp" placeholder="Gib deiner Gruppe einen Namen">
						</div>
						<button type="submit" class="btn btn-primary float-right">Erstellen</button>
					</form>
				</div>
			</div>
			<div class="alert alert-secondary mt-3">
				Die Teilnehmer-Zuordnung wird von der Plattform geheim gehalten. Das zu (v-)erraten bereitet persönlich sowieso mehr Freude <i class="fa fa-smile-wink"></i>.
			</div>
		</div>
	</div>
</div>
{{ end }}
