{{ define "content" }}
	<div class="container">

		<h1 class="mt-5">{{ .Group.Name }}</h1>
		<p class="lead">

		</p>
		<p>Gruppe erstellt am {{ .Group.CreatedAt.Format "02.01.2006 um 15:04" }}</p>
		<hr class="dashed-separator">

		<!-- Mitglieder -->
		<div class="row">
			<div class="col-12">
				<span class="clearfix">
					<span class="h5">Mitglieder</span>
					<span class="float-right">
						<a href="" data-toggle="tooltip" data-placement="right" title="Sendet eine Email-Erinnerung an alle Mitglieder, die noch nicht reagiert haben.">
							<i class="fa fa-redo-alt"></i>
							Erinnerung senden
						</a>
					</span>
				</span>
				<table class="table table-hover">
					<thead>
					<th>Name</th>
					<th>Wunschliste</th>
					</thead>
					<tbody>
                    {{ range .Members }}
						<tr>
							<td>{{ .Name }}</td>
							<td>
								<i class="fa fa-check text-success"></i>
							</td>
						</tr>
                    {{ end }}
					</tbody>
				</table>
			</div>
		</div>

		<hr class="dashed-separator">

		<div class="row">
			<div class="col-sm-6">
				<h4>Aktionen</h4>
				{{ .Group.Status }}
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<div class="form-group">
							<label for="groupLink">Gruppen-ID:</label><br>
							<kbd>{{ .Group.GroupID }}</kbd>
						</div>
						<div class="form-group">
							<label for="groupLink">Link zur Gruppe:</label>
							<input type="text" class="form-control" id="groupLink" value="{{ .SelfLink }}">
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
{{ end }}
