<div class="page-header">
  <h1>Group#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo(groupsPath(), {class: "btn btn-info"}) { %>
      Back to all Groups
    <% } %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(editGroupPath({ group_id: group.ID }), {class: "btn btn-warning", body: "Edit"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(groupPath({ group_id: group.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(groupUsersPath({ group_id: group.ID }), {class: "btn btn-success", "data-method": "GET", body: "Users"}) %>
  </li>
</ul>

<p>
  <strong>Name</strong>: <%= group.Name %>
</p>
<p>
  <strong>Description</strong>: <%= group.Description %>
</p>
