<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Secret Santa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <link href="/css/application.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="#">SECRET SANTA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse clearfix" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

            <!-- Home -->
            {{ if eq .NavActive "home" }}
            <li class="nav-item active">
              {{ else }}
            <li class="nav-item">
                {{ end }}
              <a class="nav-link" href="/">Startseite <span class="sr-only">(current)</span></a>
            </li>

            <!-- My group -->
            {{ if eq .NavActive "mygroup" }}
            <li class="nav-item active">
              {{ else }}
            <li class="nav-item">
              {{ end }}
              <a class="nav-link" href="/group">Meine Gruppe</a>
            </li>

          </ul>


          <ul class="nav justify-content-end navbar-nav ">
            <!-- Groups (administrative view) -->
            {{ if eq .NavActive "groups" }}
            <li class="nav-item active">
              {{ else }}
            <li class="nav-item">
              {{ end }}
              <a class="nav-link" href="/admin/groups">Gruppen</a>
            </li>
          </ul>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
    {{template "content" .}}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
        made with love
        </span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
